package ${Mapper.classPackage};

import ${Entity.classPackageName};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import java.util.List;
import java.util.Map;

/**
 * ${Mapper.tableComment}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${Mapper.className} extends BaseMapper<${Entity.className}> {
	/**
	 * 查询列表信息
	 * @param params
	 * @return
	 */
	List<${Entity.className}> queryPage(IPage<${Entity.className}> page, Map<String, Object> params);
}
