package ${Entity.classPackageName};

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.lhh.sys.entity.BaseEntity;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;

/**
 * ${Entity.tableComment}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@TableName("${Entity.tableName}")
public class ${Entity.classname}Entity implements Serializable {


#foreach ($column in $Entity.columns)
	/**
	 * $column.columnComment
	 */
	#if($column.isPK)
@TableId
	#end
private $column.attrType $column.attrname;
#end

}
