package ${package}.${moduleName}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.Map;
import java.util.List;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${mainPath}.utils.PageUtils;
import ${mainPath}.utils.Query;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Dao, ${className}Entity> implements ${className}Service {
	@Autowired
    private ${className}Dao ${classname}Dao;
	
	/**
	 * 查询列表信息
	 * @param params
	 * @return
	 */
    @Override
    public PageUtils queryPage(Map<String, Object> params) {
		IPage<${className}Entity> page = new Query<${className}Entity>(params).getPage();
		List<${className}Entity> ${classname}List = ${classname}Dao.queryPage(page, params);
        return new PageUtils(page.setRecords(${classname}List));
    }

}
