package ${ServiceImpl.classPackage};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.Map;
import java.util.List;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${mainPath}.utils.PageUtils;
import ${mainPath}.utils.Query;

import ${Mapper.classPackageName};
import ${Entity.classPackageName};
import ${Service.classPackageName};

/**
 * ${Service.tableComment}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service("${Service.classname}Service")
public class ${Service.className}ServiceImpl extends ServiceImpl<${Service.className}Mapper, ${Service.className}Entity> implements ${Service.className}Service {
	@Autowired
    private ${Mapper.className}Mapper ${Mapper.classname}Mapper;
	
	/**
	 * 查询列表信息
	 * @param params
	 * @return
	 */
    @Override
    public PageUtils queryPage(Map<String, Object> params) {
		IPage<${Entity.className}Entity> page = new Query<${Entity.className}Entity>(params).getPage();
		List<${Entity.className}Entity> ${Entity.classname}List = ${Entity.classname}Dao.queryPage(page, params);
        return new PageUtils(page.setRecords(${Entity.classname}List));
    }

}
