package ${Service.classPackage};

import com.baomidou.mybatisplus.extension.service.IService;
import ${mainPath}.utils.PageUtils;
import ${Entity.classPackageName};

import java.util.Map;

/**
 * ${Service.tableComment}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${Service.className}Service extends IService<${Entity.className}Entity> {

	/**
	 * 查询列表信息
	 * @param params
	 * @return
	 */
    PageUtils queryPage(Map<String, Object> params);
}

