package ${ServiceImpl.classPackage};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.Map;
import java.util.List;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${mainPath}.utils.PageUtils;
import ${mainPath}.utils.Query;

import ${Mapper.classPackageName};
import ${Entity.classPackageName};
import ${Service.classPackageName};

/**
 * ${Service.tableComment}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service("${Service.classname}Service")
public class ${ServiceImpl.className} extends ServiceImpl<${Mapper.className}, ${Entity.className}> implements ${Service.className} {
	@Autowired
    private ${Mapper.className} ${Mapper.classname};
	
	/**
	 * 查询列表信息
	 * @param params
	 * @return
	 */
    @Override
    public PageUtils queryPage(Map<String, Object> params) {
		IPage<${Entity.className}> page = new Query<${Entity.className}>(params).getPage();
		List<${Entity.className}> ${Entity.classname}List = ${Entity.classname}.queryPage(page, params);
        return new PageUtils(page.setRecords(${Entity.classname}List));
    }

}
