<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2018 Baidu, Inc. All Rights Reserved.
  -->
<configuration>
    <!-- 系统启动日志输出文件 -->
    <appender name="STOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%t] [%level] | %C{0}.%method\(%line\) | %X{traceId:--} | %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STOUT"/>
    </root>
</configuration>

